<section class="instructions">
  <div class="center">
    <h1>
      The Command Line
    </h1>
  </div>

  <p>Your computer's command line is a place where you can type in executable code.</p>
  <p>After you type in a command, you’ll hit <strong>Enter</strong> to run it.</p>
  <p>If you've never used the command line, don't worry. We dedicate an entire module to it in the
    <%= link_to 'Fundamentals course', ENV['FUNDAMENTALS_COURSE_URL'], target: :_blank %>.</p>
  <hr>

  <hr>

  <ol>
    <li>
      <p>Open up the <strong>Git Bash</strong> application from your RailsInstaller folder.</p>
      <p>Having trouble finding it? Look under the "Start" menu."</p>
      <div class="text-center"><%= image_tag "windows/windows-gitbash.png" %></div>
    </li>
  </ol>
</section>

<%= render partial: "layouts/step_navigation", locals: { hide_troubleshooting: true } %>

<div id="trouble" class="collapse out note">
</div>
