<section class="instructions">
  <h1>Install Rbenv and Ruby</h1>
  <p class="center">Rbenv is a <strong>Ruby Environment Version Manager</strong>. It makes it easy to install multiple versions of Ruby on your computer that may be required for different projects.</p>
  <hr>
  <ol>
    <li>To install Rbenv, paste this in your terminal. It may take a few minutes to complete:</li>

    <pre><code>brew install rbenv ruby-build</code></pre>

    <li>When it's done, copy and paste the entire block below:</li>
    <pre><code>echo 'if which rbenv > /dev/null; then eval "$(rbenv init -)"; fi' >> ~/.bash_profile
source ~/.bash_profile</code></pre>

    <li>To verify rbenv is set up OK, try the following commands. Both should return output, like "rbenv 1.1.2" or "rbenv is a function..."
      <pre><code>rbenv -v</code></pre>
      <pre><code>type rbenv</code></pre>
    </li>

    <li>Finally, install Ruby and make this version the default for all your new apps. Type each line below one at a time.</li>
    <pre><code>rbenv install 3.0.0
rbenv global 3.0.0</code></pre>

  </ol>
</section>

<%= render partial: "layouts/step_navigation", locals: { hide_troubleshooting: true } %>
