<section class="instructions">
  <h1>Install a Text Editor</h1>
  <p>
    As a developer, you’ll be using your text editor quite often.
    A text editor is a simple program that lets you write text <i>(and by text we mean… code)</i>.
    <br><br>
    My preferred editor is Atom, however it was <a href="https://github.blog/2022-06-08-sunsetting-atom/" target="_blank">shut down</a>. Sublime Text is also very popular, as well as VS Code.
  </p>
  <hr>

  <h3>Install Sublime Text (Option A)</h3>
  <small><strong>Downsides</strong>: asks you to buy it every ~60 saves. <strong>Upsides</strong>: very fast.</small><br><br>
  <p class="text-center"><%= link_to "Visit Sublime & Download", 'http://www.sublimetext.com/', target: :_blank, class: "btn option" %></p>
  <p>Once the file has fully downloaded, double-click it. On a Mac: drag and drop <strong>Sublime Text</strong> into your <strong>Applications</strong> folder.</p>

  <h3>Install VS Code (Option B)</h3>
  <small><strong>Downsides</strong>: A little complicated. <strong>Upsides</strong>: feature rich.</small><br><br>
  <p class="text-center"><%= link_to "Visit Visual Studio & Download", 'https://code.visualstudio.com/download', target: :_blank, class: "btn option" %></p>
  <p>Once the file has fully downloaded, double-click it. On a Mac: drag and drop <strong>Atom</strong> into your <strong>Applications</strong> folder.</p>
</section>

<%= render partial: "layouts/step_navigation", locals: { hide_troubleshooting: true } %>
