<% hide_troubleshooting ||= false %>

<section class="prompt center">
  <%= link_to "Previous Step", previous_wizard_path, class: "option" %>
  <%= button_tag "Troubleshooting", type: "button", class: "troubleshooting", data: {toggle: "collapse", target: "#trouble"} unless hide_troubleshooting %>
  <%= link_to "Next Step", next_wizard_path, class: "option"%>
</section>
